{% extends "base.html" %}

{% block content %}
<h1>System {{ target_ip }}</h1>
<h2>Collected Information</h2>
<p>This target has been analyzed detecting {{ n_software }} software services and <strong>{{ n_vuln }} vulnerabilities, {{ n_exploited }} of them exploited</strong>. This is the obtained information from the system obtained via nmap:</p>

<p><strong>vendor:</strong> {{ vendor }}</p>
<p><strong>product:</strong> {{ product }}</p>
<p><strong>version:</strong> {{ version }}</p>
<p><strong>other info:</strong> {{ other_info }}</p>


<h3>Software Services Information</h3>
<p>The system {{ target_ip }} has {{ n_software }} software services currently running which available information will be displayed in the following section.</p>
<p><strong>Note:</strong> When a software service is labeled as obsolete, it means that a newer or alternative software exists that performs the same tasks more efficiently, securely, or reliably. Using the obsolete software may not provide the best performance or protection compared to its modern counterpart.</p>

{% endblock %}
