name: Lint Python Code

# Permisos necesarios para hacer push con GITHUB_TOKEN
permissions:
  contents: write

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black

      - name: Run Flake8
        run: flake8 .

      - name: Format code with Black
        run: black .

      - name: Commit changes if Black reformatted code
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          if ! git diff --quiet; then
            git add .
            git commit -m "style: this man doesn't know how to code properly and needs a bot"
            # Push usando el token de GitHub Actions
            git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:${{ github.ref_name }}
          else
            echo "No formatting changes detected"
          fi
