name: Pytest

on:
  push:

jobs:
  pytest:
    runs-on: ubuntu-24.04 

    steps:
      
      # Step 1: Checkout the repository code
      - name: Checkout
        uses: actions/checkout@v5

      # Step 2: Set up Python environment (version 3.12.3)
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12.3'

      # Step 3: Install Python dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      # Step 4: Run the pytest test suite (ignoring Selenium tests)
      - name: Run Tests
        run: |
          cd src
          pytest .
